Repository cameronsjo/saved-reddit-exporter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{ts,js,json,md}": [
    "prettier --write"
  ]
}

fix: address Obsidian plugin submission requirements
  src/auth.ts
  src/settings.ts
  src/types.ts
Due: eslint --fix, prettier --write

fix: resolve test failures and improve media detection logic
  .eslintrc
  .eslintrc.json
  .lintstagedrc.json
  jest.config.js
  src/api-client.ts
  src/constants.ts
  src/content-formatter.ts
  src/main.ts
  src/media-handler.ts
  tests/__mocks__/obsidian.ts
  tests/content-formatter.test.ts
  tests/media-handler.test.ts
  tests/setup.ts
Due: eslint --fix, prettier --write

fix: add missing eslint
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

fix: resolve all ESLint errors and improve type safety
  src/api-client.ts
  src/auth.ts
  src/content-formatter.ts
  src/main.ts
  src/media-handler.ts
  src/settings.ts
  tests/__mocks__/obsidian.ts
  tests/content-formatter.test.ts
  tests/media-handler.test.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript compilation errors and dependency issues
  package-lock.json
  package.json
  src/api-client.ts
  src/auth.ts
  src/settings.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: significantly improve test coverage and add comprehensive tests
  tests/api-client.test.ts
  tests/auth.test.ts
  tests/content-formatter.test.ts
  tests/media-handler.test.ts
  tests/settings.test.ts
Due: eslint --fix, prettier --write

fix: improve test coverage and fix Jest configuration
  jest.config.js
  package-lock.json
  package.json
  tests/api-client.test.ts
  tests/auth.test.ts
Due: eslint --fix, prettier --write

fix: resolve all remaining test failures and achieve 100% pass rate
  tests/api-client.test.ts
  tests/settings.test.ts
Due: eslint --fix, prettier --write

fix: resolve all Obsidian plugin review ESLint errors
  src/api-client.ts
  src/auth.ts
  src/main.ts
  src/media-handler.ts
  src/settings.ts
  tests/api-client.test.ts
  tests/media-handler.test.ts
  tests/settings.test.ts
Due: eslint --fix, prettier --write

refactor: eliminate code duplication and harden security
  package-lock.json
  package.json
  src/api-client.ts
  src/auth.ts
  src/constants.ts
  src/main.ts
  src/media-handler.ts
  src/utils/crypto-utils.ts
  src/utils/file-sanitizer.ts
  src/utils/html-escape.ts
  tests/media-handler.test.ts
Due: eslint --fix, prettier --write

chore: add Claude Code workspace configuration
  .claude/agents/javascript-developer.md
  .claude/agents/typescript-expert.md
  .claude/agents/ui-ux-designer.md
  bwc.config.json
Due: prettier --write

feat: add comprehensive filtering options for Reddit imports
  src/constants.ts
  src/filters.ts
  src/main.ts
  src/settings.ts
  src/types.ts
  tests/filters.test.ts
Due: eslint --fix, prettier --write

feat: add saved comments export and subreddit folder organization
  src/api-client.ts
  src/constants.ts
  src/content-formatter.ts
  src/main.ts
  src/settings.ts
  src/types.ts
  src/utils/file-sanitizer.ts
  tests/api-client.test.ts
  tests/auth.test.ts
  tests/content-formatter.test.ts
  tests/file-sanitizer.test.ts
  tests/media-handler.test.ts
  tests/settings.test.ts
Due: eslint --fix, prettier --write

feat: fix auto-unsave functionality for imported posts
  src/constants.ts
  src/main.ts
  src/settings.ts
  src/types.ts
Due: eslint --fix, prettier --write

feat: add enhanced Reddit API coverage with multiple content types
  src/api-client.ts
  src/constants.ts
  src/content-formatter.ts
  src/main.ts
  src/settings.ts
  src/types.ts
  tests/api-client.test.ts
Due: eslint --fix, prettier --write

refactor: simplify subreddit folder names to just the subreddit name
  src/settings.ts
  src/utils/file-sanitizer.ts
  tests/file-sanitizer.test.ts
Due: eslint --fix, prettier --write

feat: add performance and reliability improvements for large imports
  src/api-client.ts
  src/constants.ts
  src/import-state.ts
  src/main.ts
  src/performance-monitor.ts
  src/request-queue.ts
  src/settings.ts
  src/types.ts
  tests/import-state.test.ts
  tests/performance-monitor.test.ts
  tests/request-queue.test.ts
Due: eslint --fix, prettier --write

feat: add selective unsave modal for imported posts
  src/constants.ts
  src/main.ts
  src/settings.ts
  src/types.ts
  src/unsave-modal.ts
Due: eslint --fix, prettier --write

feat: add Templater plugin integration for custom templates
  src/constants.ts
  src/main.ts
  src/settings.ts
  src/templater-handler.ts
  src/types.ts
  tests/__mocks__/obsidian.ts
  tests/api-client.test.ts
  tests/auth.test.ts
  tests/content-formatter.test.ts
  tests/media-handler.test.ts
  tests/settings.test.ts
  tests/templater-handler.test.ts
Due: eslint --fix, prettier --write

feat: add automatic semantic versioning with release-please
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: prettier --write

docs: add proposed feature issues for 2025 roadmap
  docs/PROPOSED_ISSUES.md
Due: prettier --write

docs: add future enhancement issue templates for filter features
  .github/ISSUES/01-saved-filter-profiles.md
  .github/ISSUES/02-filter-import-export.md
  .github/ISSUES/03-regex-validation.md
  .github/ISSUES/04-content-length-filters.md
  .github/ISSUES/05-import-history-rollback.md
  .github/ISSUES/06-per-subreddit-rules.md
  .github/ISSUES/07-bulk-list-management.md
  .github/ISSUES/08-crosspost-award-filters.md
Due: prettier --write

feat: enhance unsave modal with search, filter, progress, and tests
  src/main.ts
  src/unsave-modal.ts
  tests/__mocks__/obsidian.ts
  tests/unsave-modal.test.ts
Due: eslint --fix, prettier --write

docs: add feature request issue templates
  issues/00-README.md
  issues/01-comment-limit-and-sort.md
  issues/02-incremental-sync.md
  issues/03-selective-import.md
  issues/04-gallery-support.md
  issues/05-additional-import-sources.md
  issues/06-saved-comment-context.md
  issues/07-progress-tracking.md
  issues/08-dataview-integration.md
  issues/09-export-formats.md
  issues/10-crosspost-handling.md
  issues/11-template-customization.md
Due: prettier --write

feat: add comment tree support with parent context and replies
  src/api-client.ts
  src/constants.ts
  src/content-formatter.ts
  src/main.ts
  src/settings.ts
  src/templater-handler.ts
  src/types.ts
  tests/api-client.test.ts
  tests/auth.test.ts
  tests/content-formatter.test.ts
  tests/media-handler.test.ts
  tests/settings.test.ts
  tests/templater-handler.test.ts
Due: eslint --fix, prettier --write

feat: add automatic semantic versioning with release-please (#20)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  docs/PROPOSED_ISSUES.md
  release-please-config.json
Due: prettier --write

feat: fix auto-unsave functionality for imported posts (#19)
  src/constants.ts
  src/main.ts
  src/settings.ts
  src/types.ts
  src/unsave-modal.ts
  tests/__mocks__/obsidian.ts
  tests/unsave-modal.test.ts
Due: eslint --fix, prettier --write

feat: add saved comments export and subreddit folder organization (#17)
  docs/PROPOSED_ISSUES.md
  issues/00-README.md
  issues/01-comment-limit-and-sort.md
  issues/02-incremental-sync.md
  issues/03-selective-import.md
  issues/04-gallery-support.md
  issues/05-additional-import-sources.md
  issues/06-saved-comment-context.md
  issues/07-progress-tracking.md
  issues/08-dataview-integration.md
  issues/09-export-formats.md
  issues/10-crosspost-handling.md
  issues/11-template-customization.md
  src/api-client.ts
  src/constants.ts
  src/content-formatter.ts
  src/main.ts
  src/settings.ts
  src/types.ts
  src/utils/file-sanitizer.ts
  tests/api-client.test.ts
  tests/auth.test.ts
  tests/content-formatter.test.ts
  tests/file-sanitizer.test.ts
  tests/media-handler.test.ts
  tests/settings.test.ts
Due: eslint --fix, prettier --write

feat: add enhanced Reddit API coverage with multiple content types (#18)
  src/api-client.ts
  src/constants.ts
  src/content-formatter.ts
  src/main.ts
  src/settings.ts
  src/types.ts
  tests/api-client.test.ts
  tests/content-formatter.test.ts
Due: eslint --fix, prettier --write

feat: add comprehensive filtering options for Reddit imports (#16)
  .github/ISSUES/01-saved-filter-profiles.md
  .github/ISSUES/02-filter-import-export.md
  .github/ISSUES/03-regex-validation.md
  .github/ISSUES/04-content-length-filters.md
  .github/ISSUES/05-import-history-rollback.md
  .github/ISSUES/06-per-subreddit-rules.md
  .github/ISSUES/07-bulk-list-management.md
  .github/ISSUES/08-crosspost-award-filters.md
  src/constants.ts
  src/filters.ts
  src/main.ts
  src/settings.ts
  src/types.ts
  tests/filters.test.ts
Due: eslint --fix, prettier --write

docs: rewrite README with personality and updated feature set
  README.md
Due: prettier --write

feat: improve release workflow and add BRAT support
  .github/workflows/beta-release.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  README.md
  scripts/version-bump.mjs
Due: prettier --write

feat: add foolproof release automation
  .github/workflows/beta-release.yml
  .github/workflows/ci.yml
  .husky/commit-msg
  RELEASING.md
  commitlint.config.js
  package-lock.json
  package.json
  scripts/release-beta.mjs
Due: eslint --fix, prettier --write

fix: use simple branch naming for release-please
  release-please-config.json
Due: prettier --write

fix: use correct release-please output for PR condition
  .github/workflows/release-please.yml
Due: none

feat: automagic beta releases for BRAT on every releasable commit
  .github/workflows/beta-release.yml
  .github/workflows/release-please.yml
Due: none

fix: use [beta] keyword to trigger beta releases
  .github/workflows/beta-release.yml
  CLAUDE.md
Due: prettier --write

fix: remove paths-ignore to allow empty beta commits [beta]
  .github/workflows/beta-release.yml
Due: none

feat: implement Beta → RC → Stable release pipeline
  .github/workflows/rc-release.yml
  .github/workflows/release-please.yml
  CLAUDE.md
Due: prettier --write
