Repository cameronsjo/saved-reddit-exporter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{ts,js,json,md}": [
    "prettier --write"
  ]
}

feat: add Sync Manager for vault/Reddit synchronization [beta]
  src/main.ts
  src/sync-manager.ts
  src/sync-modal.ts
  src/types.ts
Due: eslint --fix, prettier --write

feat: add Templater plugin integration and comment tree support
  src/api-client.ts
  src/constants.ts
  src/content-formatter.ts
  src/main.ts
  src/settings.ts
  src/templater-handler.ts
  src/types.ts
  tests/templater-handler.test.ts
Due: eslint --fix, prettier --write

fix: make Sync Manager modal wider and responsive [beta]
  src/sync-modal.ts
  styles.css
Due: eslint --fix, prettier --write

feat: add Templater integration and comment tree support [beta]
  src/api-client.ts
  src/constants.ts
  src/content-formatter.ts
  src/main.ts
  src/settings.ts
  src/templater-handler.ts
  src/types.ts
  tests/templater-handler.test.ts
Due: eslint --fix, prettier --write

fix: enrich comment data during reprocess [beta]
  src/main.ts
Due: eslint --fix, prettier --write

chore: enable CHANGELOG.md generation in Release Please
  release-please-config.json
Due: prettier --write

feat: support multi-ID frontmatter for merged files [beta]
  src/constants.ts
  src/sync-manager.ts
  src/types.ts
Due: eslint --fix, prettier --write

feat: add export to JSON and CSV [beta]
  src/exporter.ts
  src/main.ts
Due: eslint --fix, prettier --write

feat: add custom folder and filename templates [beta]
  src/constants.ts
  src/main.ts
  src/settings.ts
  src/types.ts
  src/utils/path-template.ts
Due: eslint --fix, prettier --write

feat: add gallery, poll, awards, and link preservation support [beta]
  src/constants.ts
  src/content-formatter.ts
  src/link-preservation.ts
  src/media-handler.ts
  src/settings.ts
  src/types.ts
Due: eslint --fix, prettier --write

style: modernize markdown output with Obsidian callouts
  src/content-formatter.ts
Due: eslint --fix, prettier --write

fix: add progress indicator for reprocess operations
  src/main.ts
Due: eslint --fix, prettier --write

fix: expand sync manager modal for better usability
  src/sync-modal.ts
  styles.css
Due: eslint --fix, prettier --write

feat: sanitize filenames to remove emojis and problematic Unicode
  src/utils/file-sanitizer.ts
  tests/content-formatter.test.ts
  tests/file-sanitizer.test.ts
Due: eslint --fix, prettier --write

feat: add configurable comment formatting styles
  src/constants.ts
  src/content-formatter.ts
  src/settings.ts
  src/types.ts
  tests/content-formatter.test.ts
Due: eslint --fix, prettier --write

test: add comprehensive unit tests for untested modules
  tests/exporter.test.ts
  tests/link-preservation.test.ts
  tests/path-template.test.ts
  tests/security-utils.test.ts
  tests/sync-manager.test.ts
Due: eslint --fix, prettier --write

docs: add mobile support callout to README [beta]
  README.md
Due: prettier --write

test: add tests to meet 40% coverage threshold [beta]
  tests/exporter.test.ts
  tests/html-escape.test.ts
  tests/link-preservation.test.ts
  tests/path-template.test.ts
Due: eslint --fix, prettier --write

test: add comprehensive sync-manager tests
  tests/sync-manager.test.ts
Due: eslint --fix, prettier --write

docs: remove unsupported mobile claim from README
  README.md
Due: prettier --write

fix: resolve quick presets overflow and improve mobile styles
  src/settings.ts
  styles.css
Due: eslint --fix, prettier --write

style: use Lucide icon for quick presets label
  src/settings.ts
  styles.css
Due: eslint --fix, prettier --write

fix: address Obsidian plugin review feedback
  src/auth.ts
  src/exporter.ts
  src/main.ts
  src/performance-monitor.ts
  src/settings.ts
  src/sync-modal.ts
  src/templater-handler.ts
  src/unsave-modal.ts
  styles.css
Due: eslint --fix, prettier --write

test: improve test coverage across core modules
  tests/api-client.test.ts
  tests/auth.test.ts
  tests/content-formatter.test.ts
  tests/import-state.test.ts
  tests/media-handler.test.ts
Due: eslint --fix, prettier --write

docs: add mobile support documentation
  KNOWLEDGE_BASE.md
  README.md
Due: prettier --write

feat(auth): add full mobile OAuth support via protocol handler
  KNOWLEDGE_BASE.md
  README.md
  src/auth.ts
  src/constants.ts
  src/main.ts
  src/settings.ts
  src/types.ts
  tests/auth.test.ts
Due: eslint --fix, prettier --write

feat(auth): add full mobile OAuth support [beta]
  KNOWLEDGE_BASE.md
  README.md
  src/auth.ts
  src/constants.ts
  src/exporter.ts
  src/main.ts
  src/performance-monitor.ts
  src/settings.ts
  src/sync-modal.ts
  src/templater-handler.ts
  src/types.ts
  src/unsave-modal.ts
  styles.css
  tests/api-client.test.ts
  tests/auth.test.ts
  tests/content-formatter.test.ts
  tests/import-state.test.ts
  tests/media-handler.test.ts
Due: eslint --fix, prettier --write

feat(settings): add credential backup/restore for safe OAuth testing
  src/settings.ts
  src/types.ts
Due: eslint --fix, prettier --write

feat(settings): add credential backup/restore for safe OAuth testing [beta]
  src/settings.ts
  src/types.ts
Due: eslint --fix, prettier --write

refactor(settings): reorganize into 4-tab UI with collapsible sections
  src/constants.ts
  src/settings.ts
  src/types.ts
  styles.css
  tests/settings.test.ts
Due: eslint --fix, prettier --write

fix: apply Obsidian plugin review sentence-case requirements
  package-lock.json
  package.json
  src/auth.ts
  src/main.ts
  src/settings.ts
  src/sync-modal.ts
Due: eslint --fix, prettier --write

fix(ci): extract base version before building prerelease tags
  .github/workflows/beta-release.yml
  .github/workflows/rc-release.yml
Due: none

fix: improve mobile tab styling with segmented control pattern
  styles.css
Due: none

feat: redesign sync manager UX with long-press context menu
  src/main.ts
  src/sync-modal.ts
  styles.css
Due: eslint --fix, prettier --write

refactor: replace emojis with Lucide icons in sync manager
  src/sync-modal.ts
  styles.css
Due: eslint --fix, prettier --write

Improve mobile tab styling across themes (#32)
  src/main.ts
  src/sync-modal.ts
  styles.css
Due: eslint --fix, prettier --write

docs: add sync manager primary UI design
  docs/plans/2026-01-31-sync-manager-primary-ui-design.md
Due: prettier --write

docs: add implementation plan for sync manager primary UI
  docs/plans/2026-01-31-sync-manager-primary-ui-impl.md
Due: prettier --write

feat(types): add SyncCache interface for instant sync manager open
  src/types.ts
Due: eslint --fix, prettier --write
