Repository cameronsjo/saved-reddit-exporter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(sync-manager): add cache methods for instant modal open
  src/sync-manager.ts
Due: eslint --fix, prettier --write

feat(sync-modal): add refresh button, timestamp, and empty state
  src/main.ts
  src/sync-modal.ts
Due: eslint --fix, prettier --write

style: add CSS for sync modal header, empty state, and checkpoint banner
  styles.css
Due: none

docs: update CLAUDE.md for sync manager as primary UI
  CLAUDE.md
Due: prettier --write

feat(main): rewire entry points to Sync Manager
  src/main.ts
Due: eslint --fix, prettier --write

feat(sync-modal): add checkpoint resume banner
  src/sync-modal.ts
Due: eslint --fix, prettier --write

docs: comprehensive code review findings (75 issues)
  .beads-pending-issues.md
Due: prettier --write

chore: add beads config and pending issues from code review
  .beads-pending-issues.md
  .mcp.json
Due: prettier --write

chore: migrate to beads issue tracking
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  AGENTS.md
  docs/plans/2026-01-31-sync-manager-primary-ui-design.md
  docs/plans/2026-01-31-sync-manager-primary-ui-impl.md
  issues/00-README.md
  issues/01-comment-limit-and-sort.md
  issues/02-incremental-sync.md
  issues/03-selective-import.md
  issues/04-gallery-support.md
  issues/05-additional-import-sources.md
  issues/06-saved-comment-context.md
  issues/07-progress-tracking.md
  issues/08-dataview-integration.md
  issues/09-export-formats.md
  issues/10-crosspost-handling.md
  issues/11-template-customization.md
Due: prettier --write

fix(security): address XSS vulnerabilities and resource leaks
  .beads/issues.jsonl
  src/auth.ts
  src/import-state.ts
  src/main.ts
  src/sync-modal.ts
  styles.css
Due: eslint --fix, prettier --write

feat(settings): add comment limit, sort, and depth options
  .beads/issues.jsonl
  src/api-client.ts
  src/auth.ts
  src/constants.ts
  src/exporter.ts
  src/performance-monitor.ts
  src/settings.ts
  src/templater-handler.ts
  src/types.ts
Due: eslint --fix, prettier --write

chore(beads): close already-implemented feature requests
  .beads/issues.jsonl
Due: none

feat: add enhanced progress tracking and Obsidian integration
  .beads/issues.jsonl
  src/constants.ts
  src/content-formatter.ts
  src/import-state.ts
  src/main.ts
  src/progress-modal.ts
  src/settings.ts
  src/types.ts
  styles.css
Due: eslint --fix, prettier --write

feat(settings): add collapsible section utility with persisted state
  .beads/issues.jsonl
  src/settings.ts
  src/settings/collapsible-section.ts
  styles.css
Due: eslint --fix, prettier --write

feat(settings): reorganize into 5 tabs with extracted render functions
  .beads/issues.jsonl
  src/main.ts
  src/settings.ts
  src/settings/advanced-tab.ts
  src/settings/content-tab.ts
  src/settings/filters-tab.ts
  src/settings/output-tab.ts
  src/settings/setup-tab.ts
  src/types.ts
Due: eslint --fix, prettier --write

fix(sync): remove duplicate CSS and dead styles from sync modal
  .beads/issues.jsonl
  styles.css
Due: none

feat(sync): improve sync manager UX with better labels and controls
  .beads/issues.jsonl
  src/sync-modal.ts
  styles.css
Due: eslint --fix, prettier --write

fix: address CodeRabbit review feedback
  .beads/issues.jsonl
  src/settings.ts
  src/settings/content-tab.ts
  src/settings/filters-tab.ts
  src/settings/setup-tab.ts
  src/sync-modal.ts
  styles.css
Due: eslint --fix, prettier --write

fix: address pre-existing issues flagged by CodeRabbit
  src/main.ts
  src/settings.ts
  src/settings/advanced-tab.ts
  src/settings/filters-tab.ts
  src/settings/output-tab.ts
Due: eslint --fix, prettier --write

chore: retire dead bd/beads agent instructions
  AGENTS.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{ts,js,json,md})
